# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/tmp

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log

# Not used for gh-pages
dist/assets/failed.png
dist/assets/passed.png
dist/assets/test-loader.js
dist/assets/test-support.css
dist/assets/test-support.js
dist/assets/test-select-picker.css
dist/assets/test-select-picker.js
dist/assets/vender.css
dist/assets/vender.js
dist/index.html
dist/testem.js
dist/tests/
