<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Single Selection</h3>
  </div>
  <div class="panel-body">
    {{select-picker content=singleContent
                    optionLabelPath="content.label"
                    optionValuePath="content.value"}}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Multiple Selections</h3>
  </div>
  <div class="panel-body">
    {{select-picker content=multipleContent
                    multiple="true"
                    optionGroupPath="group"
                    optionLabelPath="content.label"
                    optionValuePath="content.value"}}
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">List Picker</h3>
  </div>
  <div class="panel-body">
    {{list-picker content=multipleContent
                  multiple="true"
                  optionGroupPath="group"
                  optionLabelPath="content.label"
                  optionValuePath="content.value"}}
  </div>
</div>
