<div class="panel panel-default">
  <div class="panel-heading">
    TODO: Feature not implemented yet.
  </div>
  <div class="panel-body">
    <p>To help contribute see the <a href="https://github.com/sukima/ember-cli-select-picker/">GitHub Site</a>.</p>
  </div>
</div>
